<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="layui/css/layui.css" />
</head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <div class="layui-card-body">
        <table class="layui-table" lay-filter="orderTable" id="orderTable"></table>
    </div>
</div>

<script src="layui/layui.all.js"></script>
<script type="text/html" id="orderBar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看详情</a>
    {{# if(d.state === 2){ }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="receive">收货</a>
    {{# } }}
</script>
<script type="text/javascript" th:inline="none">
    /* <![CDATA[ */
    layui.use(['table', 'jquery'], function(){
        var table = layui.table;
        var $ = layui.jquery;

        // 订单表格加载
        $.get('/shopping/iflogin', function(user) {
            if (!user) {
                layer.msg('请先登录');
                return;
            }
            table.render({
                elem: '#orderTable',
                url: '/order/getOrdersByUserId?userId=' + user.id,
                page: true,
                cols: [[
                    {field: 'code', title: '订单编号'},
                    {field: 'money', title: '订单金额'},
                    {field: 'addtime', title: '下单时间'},
                    {field: 'state', title: '订单状态', templet: function(d){
                            switch(d.state) {
                                case 0: return '未支付';
                                case 1: return '已付款未发货';
                                case 2: return '已发货未收货';
                                case 3: return '已收货';
                                case 4: return '已完成';
                                case -1: return '已失效';
                                default: return '未知';
                            }
                        }},
                    {title: '操作', toolbar: '#orderBar', width: 200}
                ]],
                parseData: function(res) {
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.count,
                        "data": res.data
                    };
                }
            });
        });

        // 订单操作
        table.on('tool(orderTable)', function(obj){
            var data = obj.data;
            if (obj.event === 'detail') {
                showOrderDetail(data);
            } else if (obj.event === 'receive') {
                layer.confirm('确认收货吗？', {
                    btn: ['确定', '取消']
                }, function(){
                    $.post('/order/receiveOrder', {orderId: data.id}, function(res){
                        if(res === 1){
                            layer.msg('收货成功');
                            table.reload('orderTable');
                        } else {
                            layer.msg('收货失败');
                        }
                    });
                });
            }
        });

        // 显示订单详情
        function showOrderDetail(order) {
            $.get('/order/getOrderDetails?orderId=' + order.id, function(res) {
                var address = res.address || {};
                var products = res.products || [];
                var html = '<div style="padding: 20px;">' +
                    '<h4>订单编号: ' + order.code + '</h4>' +
                    '<p>收货地址: ' + (address.address || '无') + '</p>' +
                    '<p>收货人: ' + (address.name || '无') + ' (' + (address.tel || '无') + ')</p>' +
                    '<table class="layui-table"><thead><tr><th>商品名称</th><th>数量</th><th>单价</th><th>图片</th></tr></thead><tbody>';
                products.forEach(function(product) {
                    html += '<tr>' +
                        '<td>' + product.procductname + '</td>' +
                        '<td>' + product.number + '</td>' +
                        '<td>' + product.price + '</td>' +
                        '<td><img src="' + product.imgurl + '" style="width: 50px; height: 50px;"></td>' +
                        '</tr>';
                });
                html += '</tbody></table></div>';
                layer.open({
                    type: 1,
                    title: '订单详情',
                    area: ['500px', '300px'],
                    content: html
                });
            });
        }
    });
    /* ]]> */
</script>
</body>
</html>